@use 'sass:math';


.background-svg {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 

    @for $i from 0 through 7  {
        @keyframes move_#{$i} {
          from {
            transform: none;
          }
          
          to {
            transform: translateY(-#{math.pow(1.25, $i)*50}px)
          }
        }
        
        .moving:nth-child(#{$i+1}) {
          animation: move_#{$i} 0.5s infinite linear 0s;
        }
      }
      }


