.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 calc( 6 * 223 / 1080 * 100vh);
    height: calc( 9 / 9 * 100vh);
    border-right: 1px solid black;
    padding: 1rem 2rem;

    &-container{
        display: flex;
        justify-content: space-between;

        &-first{
        width: 53.6851851852vh;
        max-height: 44.4444444444vh;
        display: flex;
        align-items: flex-end;

            &-about{
                text-align: justify;
                font-family: "b_c_n",Times,serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 1.2em;
                color: rgba(0, 0, 0, 0.762);
            }

        }

        &-second{
            right: 0;
            margin-left: 20px;
            bottom: 0;
            
                &-img{
                    width: 62vh;
                    height: 46vh ;            
                }
        }
    }
    
    &-links{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
    }

    &-image{
        width: 2.5rem;
        color: rgb(62, 95, 58);
        
    }

    &-info{
        display: flex;
        flex-direction: row ;
        margin-top: 1rem;
        justify-content: space-between;
        align-items: baseline;
    
        &-title{
            font-family: "b_c_n",Times,serif;
            font-style: normal;
            font-weight: 400;
            font-size: 8vh;
            line-height: .9375em;
            letter-spacing: -0.012em;
        }
    
    }

}
