.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 calc( 6 * 223 / 1080 * 100vh);
    height: calc( 9 / 9 * 100vh);
    border-right: 1px solid black;
    padding: 1rem 2rem;



}

.main-container{
    // width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.main-container-second{
    display: flex;
    justify-content: space-between;
}

.main-container-second-img{
    width: 50%;
    height: auto;
}

.main-city {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0; 
  }
  
