.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 calc( 6 * 223 / 1080 * 100vh);
    height: calc( 9 / 9 * 100vh);
    border-right: 1px solid black;
    padding: 1rem 2rem;

    &-container{
        display: flex;
        justify-content: space-between;

        &-first{
        width: 53.6851851852vh;
        max-height: 44.4444444444vh;
        display: flex;
        align-items: flex-end;

            &-about{
                font-size: 1rem;
                line-height: 0.99em;
                color: rgba(0, 0, 0, 0.762);
            }

        }

        &-second{
            right: 0;
            bottom: 0;
            
                &-img{
                    width: 61.9444444444vh;
                    height: 45.4444444444vh ;            
                }
        }
    }

}

.main-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}

.main-image{
    width: 2.5rem;
    color: rgb(62, 95, 58);
    
}
