.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 calc( 3 * 223 / 1080 * 100vh);
    height: calc( 9 / 9 * 100vh);
    border-right: 1px solid black;
    padding: 1rem 2rem;

    &-title-abt{
        font-weight: 400;
        font-size: 1rem;
        line-height: .93em;
        writing-mode: vertical-rl;
    }

    &-bday{
        font-size: 6rem;
        white-space: nowrap;
        overflow: hidden; 
        text-overflow: ellipsis; 
        max-width: 100%;
    }

    &-message{
        font-size: 0.75rem;
        padding-bottom: 1rem;
    }
}