.tech-img{
    width: 5rem;
}

.technology{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 calc( 3 * 223 / 1080 * 100vh);
    height: calc( 9 / 9 * 100vh);
    padding: 1rem 2rem;


    &-images{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-right: 3rem;
        padding-bottom: 10rem;
        gap: 1rem;
    }

    &-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      max-height: 90vh;
    }
    


    &-title-abt{
        font-weight: 400;
        font-size: 1rem;
        line-height: .93em;
        writing-mode: vertical-rl;
    }   
}

