.tech-img{
    width: 3rem;
}

.technology{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 calc( 3 * 223 / 1080 * 100vh);
    height: calc( 9 / 9 * 100vh);
    padding: 1rem 2rem;


    &-images{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    &-title-abt{
      font-weight: 400;
      font-size: 1rem;
      line-height: .93em;
      writing-mode: vertical-rl;
    }
}


@keyframes complexFloatAnimation {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    25% {
      transform: translate(30px, -50px) scale(1.1);
    }
    50% {
      transform: translate(-20px, 20px) scale(1);
    }
    75% {
      transform: translate(-50px, -25px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
  
  .floating {
    animation: complexFloatAnimation 8s ease-in-out infinite;
  }
  
  